.container {
	background-color: white;
}

.jumbotron {
	background-color: lightgray;
	padding-top: 20px;
	padding-bottom: 20px;
}

.jumbotron h1 {
	color: #39ac39;
}

.row {
	max-height: 446px;
	min-height: 359px;
}

hr {
	border-color: black;
	border-width: 5px;
}

.img-card {
	margin-top: 3px;
}

.text-card::-webkit-scrollbar {
	display: none;
}

.text-card {
	margin-top: 3px;
	overflow: auto;	
}


/* MEDIA QUERIES */

@media (max-width: 320px) {
	.img-responsive,
	.text-card {
		height: 359px;
		width: 290px;
	}

	.text-card {
		margin-left: 15px;
	}

	.jumbotron p {
		font-size: 1.2em;
		text-align: justify;
	}
}

@media (min-width: 375px) {
	.img-responsive,
	 .text-card {
		height: 427px;
		width: 375px;
	}

	.jumbotron p {
		text-align: justify;
	}
}

@media (min-width: 425px) {
	.img-responsive,
	.text-card {
		height: 489px;
		width: 395px;
	}

	.text-card {
		margin-left: 15px;
	}

	.jumbotron p {
		text-align: justify;
	}
}

@media (min-width: 768px) {
	.img-responsive,
	.text-card {
		height: 427px;
		width: 345px;
	}

	.text-card {
		width: auto;
	}
}

@media (min-width: 1024px) {
	.img-responsive,
	.text-card {
		height: 363px;
		width: 293px;
	}

	.text-card {
		margin-left: 0;
	}

	body {
		background-color: #e9d0af; 
	}
}

@media (min-width: 1440px) {
	.img-responsive,
	.text-card {
		height: 446px;
		width: 360px;
	}

	.text-card {
		width: 376px;
		padding-right: 0;
	}

	body {
		background-image: url("images/background.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		margin: 0;
		height: auto;
	}
}
